!!!
%html
  %head
    %title Tech Books Deals of the Day
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
    %link{ :rel => 'stylesheet', :href => 'reset.css', :type => 'text/css', :media => 'all' }
    %link{ :rel => 'stylesheet', :href => 'application.css', :type => 'text/css', :media => 'all' }
  %body
    #wrapper
      #header
        %img{ :src => 'dotd.png', :width => 418, :height => 106, :alt => 'logo' }

        #badges
          %ol
            %li
              %a{ :title => 'Get source code', :href => 'http://github.com/hoop33/techbooksdotd' }
                %img{ :src => 'github.png', :width => 100, :height => 45 }
            %li
              %a{ :title => 'Follow me on Twitter', :href => 'http://twitter.com/hoop33' }
                %img{ :src => 'button-twitter.png', :width => 60, :height => 60 }
            %li
              %a{ :title => 'Read my blog', :href => 'http://blogs.apress.com/RobWarner' }
                %img{ :src => 'button-feed.png', :width => 60, :height => 60 }

      #content
        %table
          %tr
            %th Book
            %th Vendor
            %th Title
          - @deals.each do |deal|
            %tr
              %td
                %img{ :src => deal.image_url } 
              %td
                %a{ :title => deal.vendor, :href => deal.vendor_url }= deal.vendor
              %td
                - if deal.url.nil?
                  = deal.title
                - else
                  %a{ :title => deal.title, :href => deal.url }= deal.title

      #footer
        %p
          Not responsible for titles or prices displayed. Data pulled from respective vendor sites. Please check appropriate site before purchasing.
        %p
          Tech Books Deals of the Day by Rob Warner. 
          
    %script{ :type => 'text/javascript', :src => 'analytics.js' }
