!!!
%html
  %head
    %title Tech Books Deals of the Day
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/reset.css', :type => 'text/css', :media => 'all' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/application.css', :type => 'text/css', :media => 'all' }
  %body
    #wrapper
      #header
        #logo
          %a{ :title => 'Refresh', :href => '/' }
            %img{ :src => 'images/dotd.png', :width => 400, :height => 74, :alt => 'Tech Books Deals of the Day' }

        #badges
          %ol
            %li
              %a{ :title => 'A Grailbox site', :href => 'http://grailbox.com' }
                %img{ :src => 'images/grailbox_logo.png', :width => 159, :height => 60 }
            %li
              %a{ :title => 'Get source code', :href => 'http://github.com/hoop33/techbooksdotd' }
                %img{ :src => 'images/github.png', :width => 100, :height => 45 }
            %li
              %a{ :title => 'Follow me on Twitter', :href => 'http://twitter.com/hoop33' }
                %img{ :src => 'images/button-twitter.png', :width => 60, :height => 60 }
            %li
              %a{ :title => 'Subscribe', :href => '/rss.xml' }
                %img{ :src => 'images/button-feed.png', :width => 60, :height => 60 }

      #content
        %table
          %tr
            %th Book
            %th Vendor
            %th Title
          - @deals.each do |deal|
            %tr
              %td
                %img{ :src => deal.image_url, :height => '150' } 
              %td
                %a{ :title => deal.vendor_name, :href => deal.vendor_url }= deal.vendor_name
              %td
                - if deal.url.empty?
                  = deal.title
                - else
                  %a{ :title => deal.title, :href => deal.url }= deal.title

      #footer
        %p
          Not responsible for titles or prices displayed. Data pulled from respective vendor sites. Please check appropriate site before purchasing.
        %p
          Tech Books Deals of the Day by Rob Warner.

    %script{ :type => 'text/javascript', :src => 'javascript/analytics.js' }
