!!!
%html
  %head
    %title Tech Books Deals of the Day
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
    %link{ :rel => 'stylesheet', :href => 'reset.css', :type => 'text/css', :media => 'all' }
    %link{ :rel => 'stylesheet', :href => 'application.css', :type => 'text/css', :media => 'all' }
  %body
    #wrapper
      #header
        %img{ :src => 'dotd.png', :width => 418, :height => 106, :alt => 'logo' }

      #content
        %table
          %tr
            %th Book
            %th Vendor
            %th Title
          - @deals.each do |deal|
            %tr
              %td
                %img{ :src => deal.image_url } 
              %td
                %a{ :title => deal.vendor, :href => deal.vendor_url }= deal.vendor
              %td
                - if deal.url.nil?
                  = deal.title
                - else
                  %a{ :title => deal.title, :href => deal.url }= deal.title

      #footer
        %p
          Not responsible for titles or prices displayed. Data pulled from respective vendor sites. Please check appropriate site before purchasing.
        %p
          &copy; 2010 Grailbox. All rights reserved.
          
    %script{ :type => 'text/javascript', :src => 'analytics_one.js' }
    %script{ :type => 'text/javascript', :src => 'analytics_two.js' }
