body {
  color: #000;
  background: #6ee3b4 url(../images/bk_body.jpg);
  font: 1.0em Verdana, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

th {
  color: #c3974e;
  background: #3d383b;
  font-weight: bold;
}

tr {
  background: #fff;
}

a {
  font-weight: bold;
  padding: 2px;
}

a:link {
  color: #3d383b;
}

a:visited {
  color: #3d383b;
}

a:hover {
  color: #c3974e;
  background-color: #3d383b;
  text-decoration: none;
}

a:active {
  background-color: #c3974e;
  color: #3d383b;
  text-decoration: none;
}

#wrapper {
  width: 950px;
  position: absolute;
  left: 50%;
  margin-left: -475px;
}

#header {
  position: relative;
  height: 110px;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  background-color: inherit;
}

#logo {
  padding-top: 10px;
  float: left;
}

#badges {
  float: right;
  padding-top: 10px;
}

#badges li {
  display: inline;
  list-style-type: none;
}

#content {
  background: #eeffa8;
}

#footer {
  background: #3d383b;
  color: #c3974e;
  border: 1px solid black;
  border-top: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75em;
  padding: 5px;
}

