/*
Colors:
#6ee3b4
#eeffa8
#f0ea00
#a1c436
#0c3b3d
*/

body {
  color: #000;
  background: #6ee3b4 url(background.png) repeat-x left top;
  font: 1.0em Verdana, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

th {
  background: #a1c436;
  font-weight: bold;
}

tr {
  background: #eeffa8;
}

a {
  font-weight: bold;
  padding: 2px;
}

a:link {
  color: #0c3b3d;
}

a:visited {
  color: #0c3b3d;
}

a:hover {
  color: #f0ea00;
  background-color: #a1c436;
  text-decoration: none;
}

a:active {
  background-color: #f0ea00;
  color: #a1c436;
  text-decoration: none;
}

#wrapper {
  width: 950px;
  position: absolute;
  left: 50%;
  margin-left: -475px;
}

#header {
  position: relative;
  height: 110px;
}

#logo {
  float: left;
}

#badges {
  float: right;
  padding-top: 10px;
}

#badges a {
  text-decoration: none;
}

#badges a:hover {
  background-color: inherit;
}

#badges li {
  display: inline;
  list-style-type: none;
}

#content {
  background: #eeffa8;
}

#footer {
  background: #a1c436;
  border: 1px solid black;
  border-top: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75em;
  padding: 5px;
}

