.tbdotd {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: #C3974E;
  background: #000 url(bk_rightbox.jpg);
}

.tbdotd #main {
  position: relative;
  left: 0;
  top: 0;
  width: 240px;
  height: 535px;
  font-size: 12px;
  overflow: hidden;
}

.tbdotd #apress {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 164px;
}

.tbdotd #manning {
  position: absolute;
  left: 5px;
  top: 174px;
  height: 164px;
}

.tbdotd #oreilly {
  position: absolute;
  left: 5px;
  top: 343px;
  height: 164px;
}

.tbdotd #credit {
  position: absolute;
  left: 5px;
  top: 512px;
  width: 230px;
  height: 23px;
  text-align: center;
  vertical-align: middle;
}

.tbdotd img {
  border: none;
}

.tbdotd a,
.tbdotd a:visited {
  color: #C3974E;
  text-decoration: none;
}

.tbdotd a:hover {
  color: #fdbc3f;
  text-decoration: underline;
  cursor: pointer;
}

.tbdotd .figure {
  float: left;
  width: 125px;
  font-size: 24px;
  height: 164px;
}

.tbdotd .caption {
  float: right;
  width: 100px;
  height: 164px;
  padding-right: 10px;
}

.tbdotd .vendor {
  width: 100%;
  overflow: hidden;
  height: 164px;
}
